.contact {
  margin: 8rem 0;
}
.contact h1 {
  font-size: 3rem;
  font-weight: 700;
}
.contact input {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 1rem 0;
}
.contact textarea {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.contact button {
  border: none;
  width: 30%;
  margin: 2rem auto;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--color-white);
}
.contact input:focus,
.contact textarea:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid rgb(151, 151, 151);
}

@media screen and (max-width: 900px) {
  .contact button {
    width: 100%;
  }
}
