@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Nunito:wght@300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  --primary-color: #339d44;
  --color-dark: #333;
  --color-white: #ffffff;
}
.paragraph {
  font-size: 1.3rem;
  margin-top: 1.5rem;
  line-height: 2.2rem;
}
ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--color-dark);
}
a:focus,
a:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 970px) {
  .hero-section .hero-text h1 {
    font-weight: 700;
    font-size: 3rem !important;
  }
  .badge {
    display: none !important;
  }
}

@media screen and (max-width: 410px) {
  .hero-section .hero-text h1 {
    font-weight: 700;
    font-size: 2rem !important;
  }
}
