.header-top h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
}
.header-top p {
  text-align: justify;
}
.section-2 {
  margin-top: 5rem;
}
.section-text h3 {
  font-size: 2.3rem;
  line-height: 3.2rem;
  font-weight: 600;
}
.section-text p {
  line-height: 2rem;
  text-align: justify;
}
.section-2 img {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .header-top {
    margin-top: 50rem !important;
  }
}
